<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>milestones</display-name>

    <!-- Listener to initialize the web app when the server starts -->
    <listener>
        <listener-class>
            wpd2.coursework1.util.StartupContextListener
        </listener-class>
    </listener>

    <!-- Custom error pages -->
    <error-page>
        <error-code>404</error-code>
        <location>/not-found/</location>
    </error-page>

    <error-page>
        <error-code>500</error-code>
        <location>/server-error/</location>
    </error-page>

    <error-page>
        <error-code>401</error-code>
        <location>/unauthorized/</location>
    </error-page>

    <!-- Projects -->
    <servlet>
        <servlet-name>ProjectIndexServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ProjectIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectIndexServlet</servlet-name>
        <url-pattern>/projects/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProjectCreateServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ProjectCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectCreateServlet</servlet-name>
        <url-pattern>/projects/create/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProjectDetailsServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ProjectDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectDetailsServlet</servlet-name>
        <url-pattern>/projects/details/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProjectUpdateServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ProjectUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectUpdateServlet</servlet-name>
        <url-pattern>/projects/update/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ProjectDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <url-pattern>/projects/delete/*</url-pattern>
    </servlet-mapping>

    <!-- Users -->
    <servlet>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/users/register/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/users/login/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserAccountServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserAccountServlet</servlet-name>
        <url-pattern>/users/account/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserPwResetEmailServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserPwResetEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPwResetEmailServlet</servlet-name>
        <url-pattern>/users/pw_reset_email/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserPwResetEmailSentServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserPwResetEmailSentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPwResetEmailSentServlet</servlet-name>
        <url-pattern>/users/pw_reset_email_sent/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserPwResetServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserPwResetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserPwResetServlet</servlet-name>
        <url-pattern>/users/pw_reset/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDeleteServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDeleteServlet</servlet-name>
        <url-pattern>/users/delete/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/users/logout/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserRegisterEmailServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UserRegisterEmailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRegisterEmailServlet</servlet-name>
        <url-pattern>/users/register_email/*</url-pattern>
    </servlet-mapping>


    <!-- Milestones -->
    <servlet>
        <servlet-name>MilestoneCreateServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.MilestoneCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MilestoneCreateServlet</servlet-name>
        <url-pattern>/milestones/create/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MilestoneEditServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.MilestoneEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MilestoneEditServlet</servlet-name>
        <url-pattern>/milestones/edit/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MilestoneDeleteServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.MilestoneDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MilestoneDeleteServlet</servlet-name>
        <url-pattern>/milestones/delete/*</url-pattern>
    </servlet-mapping>

    <!-- API -->
    <servlet>
        <servlet-name>ApiAutocompleteServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ApiAutocompleteServletBase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiAutocompleteServlet</servlet-name>
        <url-pattern>/api/autocomplete/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiShareProjectServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ApiShareProjectServletBase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiShareProjectServlet</servlet-name>
        <url-pattern>/api/share-project/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiUnshareProjectServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ApiUnshareProjectServletBase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiUnshareProjectServlet</servlet-name>
        <url-pattern>/api/unshare-project/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApiMakePublicServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ApiMakePublicServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApiMakePublicServlet</servlet-name>
        <url-pattern>/api/make-public/*</url-pattern>
    </servlet-mapping>

    <!-- Errors -->
    <servlet>
        <servlet-name>NotFoundServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.NotFoundServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotFoundServlet</servlet-name>
        <url-pattern>/not-found/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServerErrorServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.ServerErrorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerErrorServlet</servlet-name>
        <url-pattern>/server-error/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UnauthorizedServlet</servlet-name>
        <servlet-class>wpd2.coursework1.servlet.UnauthorizedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnauthorizedServlet</servlet-name>
        <url-pattern>/unauthorized/*</url-pattern>
    </servlet-mapping>
</web-app>