## File that contains helpers for forms.

#macro(validation_error $attribute)
    #if ($model.hasValidationError($attribute))
    <span class="help-block">$model.getValidationError($attribute)</span>
    #end
#end

#macro(form_text_input $attribute, $value)
    #set($message="")
    #if ($model.hasValidationError($attribute))
        #set($message=" has-message")
    #end

    #set($valueattr = "")
    #if ($value)

        #set($valueattr = ' value="' + $html.encode($value) + '"')
    #end

    <div class="form-group$message">
        <label for="$attribute" style="text-transform: capitalize">$attribute</label>
        <input type="text" name="$attribute" class="form-control"$valueattr>
        #validation_error($attribute)
    </div>

#end

#macro(form_email_input $attribute, $value)
    #set($message="")
    #if ($model.hasValidationError($attribute))
        #set($message=" has-message")
    #end

    #set($valueattr = "")
    #if ($value)
        #set($valueattr = ' value="' + $html.encode($value) + '"')
    #end

    <div class="form-group$message">
        <label for="$attribute" style="text-transform: capitalize">$attribute</label>
        <input type="email" id="$attribute" name="$attribute" class="form-control"$valueattr>
        #validation_error($attribute)
    </div>

#end

#macro(form_password_input $attribute)
    #set($message="")
    #if ($model.hasValidationError($attribute))
        #set($message=" has-message")
    #end

    <div class="form-group$message">

        <label for="$attribute" style="text-transform: capitalize">$attribute</label>
        <input type="password" id="$attribute" name="$attribute" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
        #validation_error($attribute)

    </div>

#end

#macro(antiForgeryToken)
<input type="hidden" name="antiForgeryToken" value="$antiForgeryHelper.generateToken()" class="antiForgeryToken">
#end