#parse('templates/flash_messages.vm')
#parse('templates/date_helpers.vm')

#macro(mainLayout)
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <title>Milestones#if($title) - $title#end</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/lib/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/lib/bootstrap-datepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">

    <link href="/static/css/styles.css" rel="stylesheet">
    <link href="/static/css/williamCSS.css" rel="stylesheet">

    <script defer src="/static/lib/font-awesome-5.0.8.js"></script>
    <script src="/static/lib/modernizr.min.js" type="text/javascript"></script>
    <script src="/static/lib/jquery-3.3.1.min.js"></script>
    <script src="/static/lib/bootstrap/js/bootstrap.js"></script>
    <script src="/static/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="/static/js/login_register.js" rel="stylesheet"></script>
    <script src="/static/lib/moment.min.js" rel="stylesheet"></script>
    <script src="/static/lib/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="$html.url('/projects')">Milestones</a>
            </div>

            #if ($userManager.loggedIn)
                <ul class="nav navbar-nav navbar-left">
                    #set($unvisited = $userManager.user.unvisited)
                    <li><a href="#" data-toggle="modal" data-target="#sharedProjectsModal">
                        #if ($unvisited > 0)
                            <i class="fas fa-envelope-open"></i>
                        #else
                            <i class="fas fa-envelope"></i>
                        #end
                        Friend's Projects
                        #if ($unvisited > 0)
                            ($unvisited)
                        #end
                    </a></li>
                </ul>
            #end

            <ul class="nav navbar-nav navbar-right">
                <li><p id="welcome_email"></p></li>
                <li><a id="login" href="$html.url('/users/login')">Login <span class="sr-only">(current)</span></a></li>
                <li><a id="account" href="$html.url('/users/account')">#if ($userManager.getUser())$html.encode($userManager.getUsername())#end</a></li>
                <li><a id="register" href="$html.url('/users/register')">Register</a></li>
                <li><a id="logout" href="$html.url('/users/logout')">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        #flash_messages()

        ## This is where the content of the template will be displayed.
        $!bodyContent
    </div>

    <footer class="container-fluid footer text-muted small text-center">
        Copyright &copy; Milestones 2018
    </footer>

    ## Shared projects modal dialog.
    #if ($userManager.loggedIn)
        <div class="modal fade" id="sharedProjectsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content" style="width: 100%;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Friend's Projects</h4>
                    </div>
                    <div class="modal-body shared-projects-content">
                        #set($shared = $userManager.user.sharedProjects)
                        #if ($shared.size() > 0)
                            <p>These projects have been shared with you!</p>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3"><strong>Project</strong></div>
                                <div class="col-sm-3"><strong>Shared By</strong></div>
                                <div class="col-sm-3"><strong>When</strong></div>
                                <div class="col-sm-3"><strong>Viewed</strong></div>
                            </div>
                            #foreach($project in $shared)
                                <div class="row">
                                    <div class="col-sm-3"><a href="$html.url("/projects/details/$project.id")">$project.name</a></div>
                                    <div class="col-sm-3">$project.username</div>
                                    <div class="col-sm-3">#pretty_time($project.created)</div>
                                    <div class="col-sm-3">#pretty_time($project.viewed)</div>
                                </div>
                            #end
                        #else
                            <p>No projects have been shared with you :(</p>
                        #end
                    </div>
                </div>
            </div>
        </div>
    #end
</body>
</html>
#end