#macro(mainLayout)
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Projects - $title</title>
    <link href="/lib/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1><a href="/projects" style="color: #000;">Projects</a></h1>

    <hr>

    ## This is where the content of the template will be displayed.
    $!bodyContent
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/lib/jquery-3.3.1.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
#end