#parse('templates/layout.vm')

#set($title = 'Completed Milestone')

#@mainLayout()
    ## Include file that contains our form helpers.
    #parse("templates/form_helpers.vm")

    <form method="post">
        <h2>Mark Milestone as Complete?</h2>

        #antiForgeryToken()



        <div>
            <input type="submit" value="Completed Milestone" class="btn btn-default">
            |
            <a class="createLink" data-id="$model.id">Cancel/Go Back</a>
            <div data-id="$model.id"></div>

        </div>
    </form>

<script>
    $(function() {
        $('.createLink').click(function () {
            var projectId = $(this).attr('data-id');
            location.href = '/projects/details?id=' + projectId;
        });
    });
</script>
#end