#parse('templates/layout.vm')

#set($title = 'Create Project')

#@mainLayout()
    ## Include file that contains our form helpers.
    #parse("templates/form_helpers.vm")

    <form method="post">
        <h2>Edit Milestone: $model.name</h2>

        #antiForgeryToken()

        ## Use a form helper to output a text input.
        #form_text_input("name")
        <input type="date" name="due">



        <div>
            <!-- Go Back -->
            <a class="createLink" data-id="$model.projectId">
                <i class="fas fa-arrow-left fa-lg"></i>
            </a>

            <!-- Confirm Edit -->
            <input type="submit" value="Edit Milestone" class="btn btn-default" data-id="$model.id">

        </div>
    </form>



<script>
    $(function() {
        $('.createLink').click(function () {
            var projectId = $(this).attr('data-id');
            location.href = '/projects/details?id=' + projectId;
        });
    });
</script>
#end