#parse('templates/layout.vm')

## Set the title of the page.
#set($title = 'Home')

## Include your layout inside of the mainLayout macro.
#@mainLayout()
    <h2>Projects</h2>

    <p><a href="/projects/create">Create New Project</a></p>

    <table class="table table-responsive table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Created</th>
                <th>Milestones</th>
                <th>Next Milestone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            #foreach($project in $model)
                <tr >
                    <td class="row" data-id="$project.id" style="cursor: pointer">$project.name</td>
                    <td>$project.created</td>
                    <td>$project.milestones</td>
                    <td>$project.nextMilestone</td>

                    <td style="cursor: pointer"><a class="edit" data-id="$project.id">edit<i class="glyphicon glyphicon-edit"></i></a></td>
                </tr>
            #end
        </tbody>
    </table>

    <script>
        $(function()
        {
            $('.edit').click(function()
            {
                var projectId=$(this).attr('data-id');
                location.href = '/projects/update?id=' + projectId;
            });
        });
        $(function() {
            $('.row').click(function () {
                var projectId = $(this).attr('data-id');
                location.href = '/projects/details?id=' + projectId;
            });
        });
    </script>




     <!--- function editTimeline(id) {
                $.ajax({
                    type: "GET",
                    url: "timelines/edit/" + id,
                    contentType: "application/html; charset=utf-8",
                    datatype: "html",
                    success: function (data) {
                        displayEditModal(data, id);
                    },
                    error: function () {
                        alert("Error - look in console.log");
                        console.log('Status: ' + status);
                        console.log('Error: ' + error);
                    }
                });
            }
##--------------------------------------------------------------------------------
            function displayEditModal(data, id) {
                $('#myModalContent').html(data);
                $('#myModal').modal({ "backdrop": "static", keyboard: true });
                $('#myModal').modal('show');

                $('#edit-form').on('submit', function (e) {
                    e.preventDefault();

                    disableFormElement('#btnSave', true);

                    var data = $('#edit-form').serialize();
                    $.post("timelines/edit/" + id, data, function (response) {
                        // If edit was successful post returns with OK
                        if (response.startsWith('OK')) {
                            location.href = "@Url.Action("index", "timelines")"; // Redirect here instead of on server-side
                            $('#myModal').modal('hide');
                        }
                        else {
                            // Otherwise redisplay form.
                            displayEditModal(response, id);
                        }

                        disableFormElement('#btnSave', false);
                    }, 'html');
                });
            }---!>
#end