#parse('templates/layout.vm')

#set($title = $model.name)

#@mainLayout()
    <h2>View Project</h2>

    <p><a href="/projects">Go back</a></p>


<p><a href="/milestone">Milestoners</a></p>

    <p>ID: $model.id</p>
    <p>Name: $html.encode($model.name)</p>
    <p>Created: $model.created</p>

    <h3>Milestones</h3>
    <p><em>List of milestones...</em></p>
#end