#parse('templates/layout.vm')

#set($title = $model.name)

#@mainLayout()
    <p><a href="/projects">Go back</a></p>

    <p>ID: $model.id</p>
    <p>Name: $model.name</p>
    <p>Created: $model.created</p>
#end