#parse('templates/layout.vm')

## Set the title of the page.
#set($title = 'Home')

## Include your layout inside of the mainLayout macro.
#@mainLayout()
    <p><a href="/projects/create">New Project</a></p>

    <div class="list-group">
        ## Output list of projects
        #foreach($project in $model)
            <a class="list-group-item" href="/projects/details?id=$project.id">$project.name</a>
        #end
    </div>
#end