## Share projects modal dialog.
#set($token = $antiForgeryHelper.token)
<div class="modal fade ui-front" id="shareProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Share Project</h4>
            </div>
            <div class="modal-body shared-projects-content">
                <div class="row">
                    <div class="col-sm-6 col-xs-12 shared-left-column">
                        <h5>Share this project with a friend!</h5>

                        <div id="sharedProjectsList">
                            #set($users = $model.project.sharedUsers)
                            #if ($users.size() == 0)
                                <div id="notSharedMessage">
                                    <em>You haven't shared this project with anyone!</em>
                                </div>
                            #end
                            #foreach($user in $model.project.sharedUsers)
                                <div class="row shared-row" id="sharedProjectItem-$user.id">
                                    <div class="col-sm-7 col-xs-6"><strong>$user.username</strong></div>
                                    <div class="col-sm-5 col-xs-6 text-right"><a href="#" onclick="unshare($user.id, $model.project.id, '$token')">
                                        <i class="fas fa-eye-slash"></i>
                                        Unshare
                                    </a></div>
                                </div>
                            #end
                        </div>

                        <hr>

                        <form id="shareProjectForm">
                            #antiForgeryToken()
                            <input type="hidden" name="userId" id="userId">
                            <input type="hidden" name="projectId"  id="projectId" value="$model.projectId">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" id="shareProjectSearch" class="form-control" placeholder="Enter name or email..." style="width: 100%">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn" disabled="disabled" id="shareButton">
                                            <i class="far fa-share-square"></i>
                                            Share
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <h5>Make this project viewable by anyone!</h5>

                        <form id="isPublicForm">
                            #antiForgeryToken()
                            <input type="hidden" name="projectId" value="$model.project.id">
                            <label class="checkbox-inline">
                                <input type="checkbox" name="isPublic" value="true" id="publicCheckBox">
                                Make this project public
                            </label>
                        </form>

                        <br>

                        <form role="form" id="copySharedUrl">
                            <div class="form-group">
                                <label class="control-label" for="sharedUrl">Sharable Link: </label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="sharedUrl" value="http://localhost:9000/share/$model.project.id">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="button" id="copyUrl">
                                            <i class="far fa-copy"></i>
                                            Copy
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div> <!-- End col -->
                </div> <!-- End row -->
                <div class="row">
                    <div class="col-xs-12">
                        <div id="shareProjectMessage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    // URLs for use in scripts, included here so the URLs can use session URL rewriting.
    var urls = {
        unshare: '$html.url("/api/unshare-project")',
        autocomplete: '$html.url("/api/autocomplete")',
        share: '$html.url("/api/share-project")'
    };
</script>

<script src="/static/js/sharing.js"></script>

<script>
    $(function() {
        initProjectSharing($model.project.id, '$token', $model.project.publiclyViewable);
    });
</script>
