#parse('templates/layout.vm')

#set($title = 'send me password reset email')

#@mainLayout()
## Include file that contains our form helpers.
    #parse("templates/form_helpers.vm")
<div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
<form method="post">
    <h2>Send me password reset email</h2>

    #antiForgeryToken()

## Use a form helper to output a text input.
    <div class="form-group$error">
        <label for="email" style="text-transform: capitalize">Email</label>
        <input type="email" id="email" name="email" class="form-control">
        #validation_error($model, $attribute)
    </div>

    <div>
        <input type="submit" value="send me password reseset email" class="btn btn-default">
        |
        <a href="/users/login">Go back</a>
    </div>
</form>
</div>
#end