#parse('templates/layout.vm')
#parse("templates/form_helpers.vm")

#set($title = $model.name)

#@mainLayout()
<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <hr>
        <h2>Are you sure you want to delete this account?</h2>
        <br>

        <h3>Username: $html.encode($model.username)</h3>
        <h3>Email: $html.encode($model.email)</h3>

        <form method="post">
            #antiForgeryToken()
            <input type="submit" id="btnDeleteUser" value="Delete" class="btn btn-default">
        </form>
        <br>
        <a href="/users/account">Back to my account page</a>
    </div>
</div>
#end