#parse('templates/layout.vm')

#set($title = $model.name)

#@mainLayout()
<p><a href="/projects">Go back</a></p>

    <p>Account Created: $model.joined</p>

    <form method="post">

    #antiForgeryToken()
    #form_text_input("username")

    #form_text_input("email")

    <div class="form-group$error">
        <label for="confirm-password" style="text-transform: capitalize">Confirm Password</label>
        <input type="password" id="confirm-password" name="confirm-password" class="form-control" required>
        #validation_error($attribute)
    </div>

    <input type="checkbox" onclick="showPasswords()">Show confirm-password
    </form>

#end

<Script src="/js/login_register.js"></Script>