#parse('templates/layout.vm')
#parse('templates/form_helpers.vm')

## Set the title of the page.
#set($title = 'Welcome')

## Include your layout inside of the mainLayout macro.
#@mainLayout()
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <div class="row">
                <div class="col-sm-8">
                    <h1>Welcome</h1>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse bibendum velit et ornare
                        facilisis. Proin in dapibus ex, eu venenatis mauris. Nam id posuere ligula, sed venenatis sem.
                        Maecenas consectetur, ligula ac posuere accumsan, diam ante elementum lectus, eget aliquet
                        tortor est ac metus. Aliquam commodo leo vitae felis porta, nec gravida mauris finibus. Quisque
                        non pellentesque mi. Sed gravida mauris id tincidunt vehicula. Duis ut lectus vitae mauris
                        mattis finibus.</p>

                    <p>Nam sapien quam, tincidunt non lectus et, finibus tincidunt enim. Etiam dictum nisi sit amet congue congue. Phasellus iaculis mi non posuere vehicula. Donec dictum neque congue ligula sagittis, consequat lacinia ex semper. Suspendisse nibh sapien, placerat at pellentesque ac, fermentum sed sapien. Pellentesque aliquet mi sem, eu facilisis nisi tristique at. Nunc eleifend velit eget metus sollicitudin sollicitudin. Ut ut venenatis lorem, quis luctus est.</p>
                </div>
                <div class="col-sm-4" style="background-color: #fafafa; border: 1px solid #dddddd">
                    <h2>Login</h2>
                    <p>If you are an existing member, please login to the site. Otherwise you can <a href="/users/register_email">register</a>!</p>
                    <form method="post" action="/users/login/">
                        #antiForgeryToken()

                        #form_email_input("email")
                        #form_password_input("password")

                        <div class="form-group">
                            <label>
                                <input type="checkbox" onclick="showPasswords()">
                                Show confirm password
                            </label>
                        </div>
                        <div class="form-group text-right">
                            <input type="submit" value="Login" class="btn btn-primary" style="min-width: 128px;" onclick="validatePassword()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
#end